.checkbox-field-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.checkbox-field-group .checkbox-field {
  flex-shrink: 0;
}

.checkbox-field-group .checkbox-field-label {
  font-size: 13px;
  text-align: left;
  color: var(--light-gray);
  user-select: none;
}
