.password-control .form-input-wrapper {
  display: flex;
  align-items: center;
  padding-right: 0.75rem;
}

.password-control .password-toggle-control {
  transition: fill 0.1s ease;
  cursor: pointer;
  pointer-events: auto;
}

.password-control .input[type='password'] ~ .password-toggle-control {
  fill: var(--light-gray);
}

.password-control .input[type='text'] ~ .password-toggle-control {
  fill: var(--primary);
}
