.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  white-space: nowrap;
  transition:
    color 0.2s ease-in-out,
    background-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.btn-wide {
  width: 100%;
}

.btn:focus {
  outline: none;
}

.btn.btn-primary {
  background-color: var(--primary);
  color: var(--white);
  padding: 1rem 0.75rem;
  border-radius: var(--border-radius);
  font-weight: 400;
  font-size: 13px;
  border: 1px solid var(--primary);
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
  box-shadow: var(--primary-shadow);
}

.btn.btn-outline {
  background-color: transparent;
  padding: 1rem 0.75rem;
  border-radius: var(--border-radius);
  font-weight: 400;
  font-size: 13px;
  border: 1px solid var(--primary);
}

.btn.btn-outline:hover,
.btn.btn-outline:focus {
  color: var(--white);
  background-color: var(--primary);
  box-shadow: var(--primary-shadow);
}

.btn.btn-link {
  padding: 0;
  color: var(--dark);
  background-color: transparent;
  border: none;
}

.btn.btn-link::after {
  content: '';
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.btn.btn-link:focus {
  outline: none;
}

.btn.btn-link:hover::after,
.btn.btn-link:focus::after {
  opacity: 1;
}

.btn-social {
  width: 100%;
  gap: 0.75rem;
  font-size: 13px;
}

.btn-social svg {
  fill: var(--primary);
}

.btn-social:hover svg,
.btn-social:focus svg {
  fill: var(--white);
}

.btn-return svg {
  margin-right: 0.5rem;
}
