.input-field-group {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  min-width: 0;
}

.input-field-wrapper {
  position: relative;
  border-radius: var(--border-radius);
  background-color: var(--background);
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.input-field-wrapper .input-field {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 22px 0.75rem 10px;
  cursor: text;
}

.input-field-wrapper[aria-invalid='true'] {
  border: 2px solid var(--destructive);
}

.input-field-label {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  transform: translateY(-50%) translateX(12px);
  max-width: calc(100% - 1.5rem);
  transition:
    font-size 0.2s ease,
    transform 0.2s ease,
    top 0.2s ease;
}

.input-field-wrapper:focus-within:has(.input-field:focus) .input-field-label,
.input-field-wrapper--active .input-field-label {
  font-size: 10px;
  top: 0;
  transform: translateY(8px) translateX(12px);
}
